<div class="class">
  <p>Aula #14!</p>
  <h2>{{"Algum texto aqui" | uppercase}}</h2>
  <h3>original:<br> {{someText}}</h3>
  <h3>titlecase:<br> {{someText | titlecase}}</h3>
  <h3>titlecase:<br> {{someText | lowercase}}</h3>
  <h4>1 - Data (original): {{today}}</h4>
  <h4>2 - Data (fulldate): {{today | date:"fullDate"}}</h4>
  <h4>3 - Data (dd/MM/yyyy): {{today | date : 'dd/MM/yyyy'}}</h4>
  <h4>4 - Dora (HH:mm): {{today | date : 'HH:mm'}}</h4>
  <h4>5 - Data (dd MMM yyyy): {{today | date : 'dd MMM yyyy'}}</h4>
  <h4>6 - Data (pt-BR): {{today | date : 'short' : '' : 'pt-BR'}}</h4>
</div>
