<header><p>Header</p></header>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/list">Lista</a>
  <a routerLink="/parent">Parent</a>
  <a routerLink="/diretivas">Diretivas</a>
  <a routerLink="/if">If</a>
  <a routerLink="/eventos">Eventos</a>
  <a routerLink="/emitter">Emitter</a>
  <a routerLink="/pipes">Pipes</a>
  <a routerLink="/twoWay">TwoWay</a>
</nav>
<h1>ÁLBUM DE CASAMENTO CRIS E ERIC</h1>
<router-outlet></router-outlet>
<footer style="position: absolute !important;"><p>Footer</p></footer>
